.topnav {
	margin-right: 5px;
}
.topnav li{
	display: inline-block;
}

.topnav li+li{
	margin-left: 20px;
}
.topnav li{
	font-size: 16px;
	font-weight: bold;
	border-bottom: solid 3px white;
}
.topnav li:hover{
	border-bottom: solid 3px #115B7D;
}

.topnav li a:hover{
	text-decoration: none;
}
.topnav li a:visited{
	color: #115B7D;
}
.topnav li a{
	color: #115B7D;
}

#uploadArea {
	width: 100%;
	border: dotted 3px;
	border-radius: 10px;
	margin-top: 25px;
	height: 100px;
}

#uploadArea h3 {
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 30px;
	height: 30px;
	padding-top: 10px;
	vertical-align: middle;
	color: #6F7C82;
}

#uploadForm {
	float: left;
	padding-left: 10px;
}

#fileList {
	margin-top: 20px;
}
#fileList a {
	color: inherit;
}
#fileList a:visited {
	color: inherit;
}
#fileList > div {
	padding-top: 5px;
	padding-bottom: 10px;
}
#fileList > div + div {
	border-top: outset 1px #CDD0D1;
}
.glyphicon {
	font-size: 20px;
}
.progress {
	margin-bottom: 0px;
}
.glyphicon-remove.active {
	color: #f44;
}
.glyphicon-save.active {
	color: #4f6;
}
.glyphicon-stop.active {
	color: #f44;
}
.glyphicon-floppy-save.active {
	color: #85f;
}

.progressText {
	position: absolute;
	width: 100%;
	text-align: center;
}