body {
	background-color: #FF944D;
}
#chatContainer{
	width: 60%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}
#receive{
	background-color: rgba(224, 224, 209, 0.3);
	height: 400px;
	overflow-y: scroll;
}
#textContainer{
	width: 100%;
}
#sendVal{
	width: 100%;
	border: 0;
}